
<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="57">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img
                    src="assets/img/no%20accident-logos_black%20(1).png" width="150"></a><button
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right"
                type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="fa fa-align-justify"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive" style="font-size: 35px;font-weight: bold;">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#about"
                            style="color: rgba(0,0,0,0.7);font-family: Poppins, sans-serif;font-weight: bold;">About</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#services"
                            style="color: rgba(0,0,0,0.7);font-family: Poppins, sans-serif;font-weight: bold;">Services</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#contact"
                            style="color: rgba(0,0,0,0.7);font-family: Poppins, sans-serif;font-weight: bold;">Contact</a>
                    </li>
                </ul>
                
                <a class="btn btn-primary" role="button" href="/login">Login<i class="fa fa-arrow-circle-o-right"
                        style="padding: 6px;"></i></a>
            </div>
        </div>
    </nav>
    <header class="text-center text-white d-flex masthead"
        style="background: url(&quot;assets/img/Norwegian-road-sign-153.png&quot;) center / contain no-repeat;">
        <div class="container my-auto">
            <div class="row">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase"><strong style="color: rgb(0,0,0);font-family: Merriweather, serif;">Let's
                            prevent accident together</strong></h1>
                    <hr>
                </div>
            </div>
            <div class="col-lg-8 mx-auto">
                <p class="text-faded mb-5" style="color: rgba(0,0,0,0.7);"></p><a class="btn btn-primary btn-xl"
                    role="button" href="/signup" style="background: rgb(255,16,0);font-size: 22px;"><svg
                        xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                        style="font-size: 34px;">
                        <path
                            d="M13 9L16 12M16 12L13 15M16 12L8 12M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        </path>
                    </svg> Register now&nbsp;</a>
            </div>
        </div>
    </header>
    <section id="about" class="bg-primary" style="background: rgb(255,45,0);margin-top: 22px;">
        <div class="container">
            <div class="row">
                <div class="col offset-lg-8 text-center mx-auto">
                    <h2 class="text-white section-heading">We've got what you need</h2>
                    <hr class="light my-4">
                    <p class="text-faded mb-4">A protocol embeeded into hardware to prevent accident in long drive,
                        aware of its sorrounding, constantly measuring speed, weather and tilting</p><a
                        class="btn btn-light btn-xl" role="button" href="#services">Get Started</a>
                </div>
            </div>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"
                        style="font-family: Poppins, sans-serif;font-size: 39.44px;font-weight: bold;">Major Causes of
                        Road Accident&nbsp;</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><img src="assets/img/images.png" width="150">
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;margin-top: 9px;">Over
                            Speeding</h3>
                       
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><img
                            src="assets/img/pedestrian-crossing-sign-board-500x500.jpg" width="150">
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;margin-top: 9px;">
                            Pedestrian Negligence</h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><img src="assets/img/drunk%20and%20drive.jpg" width="200">
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;margin-top: 8px;">Drunk
                            and Drive</h3>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><img
                            src="assets/img/istockphoto-880742916-612x612-removebg-preview.png" width="150">
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;margin-top: 10px;">
                            Weather Condition</h3>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services-1" style="background: #f2f2f2;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" style="font-family: Poppins, sans-serif;">Solutions</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                            height="1em" viewBox="0 0 24 24" fill="none" data-aos="zoom-in" data-aos-duration="200"
                            data-aos-once="true" class="fa-4x text-primary mb-3 sr-icons">
                            <path d="M8 14V17M12 14V17M16 14V17M3 21H21M3 10H21M3 7L12 3L21 7M4 10H20V21H4V10Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;">Enforcing law and
                            order</h3>
                      
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                            height="1em" viewBox="0 0 24 24" fill="none" data-aos="zoom-in" data-aos-duration="200"
                            data-aos-delay="200" data-aos-once="true" class="fa-4x text-primary mb-3 sr-icons">
                            <path
                                d="M11 5.88218V19.2402C11 20.2121 10.2121 21 9.24018 21C8.49646 21 7.83302 20.5325 7.58288 19.8321L5.43647 13.6829M18 13C19.6569 13 21 11.6569 21 10C21 8.34315 19.6569 7 18 7M5.43647 13.6829C4.0043 13.0741 3 11.6543 3 10C3 7.79086 4.79086 6 6.99999 6H8.83208C12.9327 6 16.4569 4.7659 18 3L18 17C16.4569 15.2341 12.9327 14 8.83208 14L6.99998 14C6.44518 14 5.91677 13.887 5.43647 13.6829Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;">Speed Gun&nbsp;</h3>
                       
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-newspaper-o fa-4x text-primary mb-3 sr-icons"
                            data-aos="zoom-in" data-aos-duration="200" data-aos-delay="400" data-aos-once="true"></i>
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;">Police Check-post and
                            awareness campaign</h3>
                       
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                            height="1em" viewBox="0 0 24 24" fill="none" data-aos="fade" data-aos-duration="200"
                            data-aos-delay="600" data-aos-once="true" class="fa-4x text-primary mb-3 sr-icons">
                            <path
                                d="M7 12L10 9L13 12L17 8M8 21L12 17L16 21M3 4H21M4 4H20V16C20 16.5523 19.5523 17 19 17H5C4.44772 17 4 16.5523 4 16V4Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;">Weather Forecasting
                        </h3>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="services-2" style="background: #ffffff;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading"
                        style="font-family: Poppins, sans-serif;font-weight: bold;font-size: 71.128px;">Reduced No ?
                    </h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col text-center" style="font-size: 170px;">
                    <p style="font-family: Poppins, sans-serif;font-size: 197px;">0%</p>
                </div>
            </div>
        </div>
    </section>
    <section id="services-4" style="background: #f2f2f2;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center" style="font-size: 31px;">
                    <h2 class="section-heading"
                        style="font-family: Poppins, sans-serif;font-size: 87.44px;font-weight: bold;">What If</h2>
                    <hr class="my-4">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                            height="1em" viewBox="0 0 24 24" fill="none" data-aos="zoom-in" data-aos-duration="200"
                            data-aos-once="true" class="fa-4x text-primary mb-3 sr-icons">
                            <path d="M8 14V17M12 14V17M16 14V17M3 21H21M3 10H21M3 7L12 3L21 7M4 10H20V21H4V10Z"
                                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            </path>
                        </svg>
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;">What if we can track
                            speed at each meter ?</h3>
                       
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><i class="fa fa-paper-plane fa-4x text-primary mb-3 sr-icons"
                            data-aos="zoom-in" data-aos-duration="200" data-aos-delay="200" data-aos-once="true"></i>
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;">What if we can
                            measure whether&nbsp; the driver is drunk at each second?</h3>
                      
                    </div>
                </div>
                <div class="col-md-6 col-lg-3 text-center">
                    <div class="mx-auto service-box mt-5"><svg xmlns="http://www.w3.org/2000/svg" width="1em"
                            height="1em" viewBox="0 0 20 20" fill="none" data-aos="zoom-in" data-aos-duration="200"
                            data-aos-delay="400" data-aos-once="true" class="fa-4x text-primary mb-3 sr-icons">
                            <path
                                d="M11 3C10.4477 3 10 3.44772 10 4C10 4.55228 10.4477 5 11 5H13.5858L7.29289 11.2929C6.90237 11.6834 6.90237 12.3166 7.29289 12.7071C7.68342 13.0976 8.31658 13.0976 8.70711 12.7071L15 6.41421V9C15 9.55228 15.4477 10 16 10C16.5523 10 17 9.55228 17 9V4C17 3.44772 16.5523 3 16 3H11Z"
                                fill="currentColor"></path>
                            <path
                                d="M5 5C3.89543 5 3 5.89543 3 7V15C3 16.1046 3.89543 17 5 17H13C14.1046 17 15 16.1046 15 15V12C15 11.4477 14.5523 11 14 11C13.4477 11 13 11.4477 13 12V15H5V7L8 7C8.55228 7 9 6.55228 9 6C9 5.44772 8.55228 5 8 5H5Z"
                                fill="currentColor"></path>
                        </svg>
                        <h3 class="mb-3" style="font-size: 23px;font-family: Poppins, sans-serif;">What if two vehicles
                            can talk to each other ?</h3>
                      
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="text-white bg-dark">
        <div class="container text-center">
            <h2 class="mb-4">Wish to prevent accident ? Register now</h2><a
                class="btn btn-light btn-sm btn-xl sr-button" role="button" data-aos="zoom-in" data-aos-duration="400"
                data-aos-once="true" href="/signup" style="padding: 13px 32px;"><svg xmlns="http://www.w3.org/2000/svg"
                    width="1em" height="1em" viewBox="0 0 24 24" fill="none"
                    style="font-size: 25px;margin-right: 11px;">
                    <path
                        d="M13 9L16 12M16 12L13 15M16 12L8 12M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>SIGNUP&nbsp;</a>
        </div>
    </section><!-- Start: Contact Form Clean -->
    <section id="contact" class="contact-clean" style="background: rgb(255,255,255);font-size: 21px;">
        <form method="post" action="/contact">
            <h2 class="text-center" style="font-family: Poppins, sans-serif;color: rgb(0,0,0);">Contact us</h2>
            <!-- Start: Success Example -->
            <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name"
                    style="font-family: Poppins, sans-serif;border-color: rgb(0,0,0);"></div>
            <!-- End: Success Example -->
            <!-- Start: Error Example -->
            <div class="mb-3"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"
                    style="font-family: Poppins, sans-serif;border-color: rgb(0,0,0);"></div><!-- End: Error Example -->
            <div class="mb-3"><textarea class="form-control" name="details" placeholder="Message" rows="14"
                    style="font-family: Poppins, sans-serif;border-color: rgb(0,0,0);"></textarea></div>
            <div class="mb-3"><button class="btn btn-warning border rounded-0" type="submit"
                    style="background: #ff0000;color: rgb(255,255,255);font-family: Poppins, sans-serif;font-size: 20px;">send
                </button></div>
        </form>
    </section><!-- End: Contact Form Clean -->
    <!-- Start: Footer Dark -->
    <footer class="footer-dark" style="background: rgb(28,30,31);">
        <div class="container">
            <div class="row">
                <!-- Start: Services -->
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li>Speed Measure</li>
                        <li>Weather Forecasting</li>
                    </ul>
                </div><!-- End: Services -->
                <!-- Start: About -->
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a href="#">Company</a></li>
                    </ul>
                </div><!-- End: About -->
                <!-- Start: Footer Text -->
                <div class="col-md-6 item text">
                    <h1>NO-ACCIDENT</h1>
                    <p style="font-size: 10px;">There is significant development in preventing road accident in Nepal, sustainable road
                        development, license plate detection, road accident management system, enforcing law, rules and
                        regulation and still on average 7people in Nepal die in road accident. All these activities either prepare
                        us for after accident methods as 70% of accident in Nepal are due to over speeding and system failure.
                        And there is slightly any work done here to prevent accident, my focus for this project is to build a
                        proof of concept that can be built to prevent road accident based in mentioned factor.
                        Note: Spatial Computing means making a system aware of its surrounding</p>
                </div><!-- End: Footer Text -->
            </div><!-- Start: Copyright -->
            <p class="copyright">NO ACCIDENT © 2022 ALL RIGHT RESERVED</p><!-- End: Copyright -->
        </div>
    </footer><!-- End: Footer Dark -->
    
</body>

</html>