<body class="background">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img
                    src="assets/img/no%20accident-logos_black%20(1).png" width="150"></a><a class="btn btn-primary"
                role="button" href="/"><i class="fa fa-arrow-circle-o-left" style="padding: 6px;"></i>Back</a></div>
    </nav>
    <section>
        <div class="container-fluid" style="width: 100%;">
            <div class="row" style="transform: scale(0.90);">
                <div class="col">
                    <h3 style="font-family: Poppins, sans-serif;font-size: 70px;">NO-ACCIDENT</h3>
                    <p class="text-start">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem
                        lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit
                        pulvinar dictum vel in justo.</p>
                    <p style="font-size: 21px;font-weight: bold;">Contact us</p>
                    <p><i class="fa fa-phone"></i>&nbsp; &nbsp;+977-980980989/980986867</p>
                    <p><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 20 20" fill="none">

                            <path
                                d="M2.00333 5.88355L9.99995 9.88186L17.9967 5.8835C17.9363 4.83315 17.0655 4 16 4H4C2.93452 4 2.06363 4.83318 2.00333 5.88355Z"
                                fill="currentColor"></path>
                            <path
                                d="M18 8.1179L9.99995 12.1179L2 8.11796V14C2 15.1046 2.89543 16 4 16H16C17.1046 16 18 15.1046 18 14V8.1179Z"
                                fill="currentColor"></path>
                        </svg>&nbsp; &nbsp;info@noaccident.org</p>
                    <div class="d-xl-flex justify-content-xl-start"><a href="/signup">Not Installed?&nbsp; Register
                            now</a></div>
                </div>

                <div class="col d-xl-flex justify-content-xl-center">
                   <div class="">
                                     
                                      

                                       <% if(err){%>
                                        <label style="color: red"><%= err %></label>
                                        <%}%>
                    <form class="d-xl-flex justify-content-xl-center align-items-xl-center"
                        style="width: 430px;height: 357px;" method="post">
                       
                        <div style="width: 461px;">
                            <input class="border rounded-0 form-control" type="email"
                                style="font-size: 29px;color: rgb(0,0,0);padding: 6px 12px;margin-bottom: 23px;margin-top: 10px;border-width: 22px;border-style: solid;background: rgba(255,255,255,0);"
                                placeholder="email" name="email" autocomplete="off" required="">
                                <input
                                class="border rounded-0 form-control" type="password"
                                style="border-style: solid;font-size: 29px;color: rgb(0,0,0);padding: 6px 12px;margin-bottom: 10px;background: rgba(255,255,255,0);"
                                placeholder="password" name="password" autocomplete="off" required="">
                            <div class="d-xl-flex justify-content-xl-center">
                                    <button
                                    class="btn btn-dark border rounded-0" role="button"
                                    style="width: 100%;margin-top: 9px;">Login</button>
                                    
                                
                                </div>
                            <div class="d-xl-flex justify-content-xl-center"
                                style="padding: 22px 0px 0px;padding-top: 16px;"><a href="/signup">Forget Password ?
                                    Reset here</a></div>
                        </div>
                    </form>

                </div>
                </div>
            </div>
        </div>
    </section>
   </body>
