

<body class="background">
    <nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
        <div class="container-fluid"><a class="navbar-brand" href="/"><img src="assets/img/no%20accident-logos_black%20(1).png" width="150"></a><a class="btn btn-primary" role="button" href="/"><i class="fa fa-arrow-circle-o-left" style="padding: 6px;"></i>Back</a></div>
    </nav>
    <section>
        <div class="container-fluid" style="width: 100%;">
            <div class="row" style="transform: scale(0.90);">
                <div class="col">
                    <h3 style="font-family: Poppins, sans-serif;font-size: 70px;">NO-ACCIDENT</h3>
                    <p class="text-start">Praesent sed lobortis mi. Suspendisse vel placerat ligula. Vivamus ac sem lacus. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo.</p>
                    <p>Contact us</p>
                    <p><i class="fa fa-phone"></i>&nbsp; &nbsp;980980989</p>
                    <p><i class="fa fa-phone"></i>&nbsp; &nbsp;info@noaccident.org</p>
                    <div class="d-xl-flex justify-content-xl-start"><a href="/login">Proceed to login ?</a></div>
                </div>
                <div class="col d-xl-flex justify-content-xl-center" style="height: 467px;">
                    <form class="d-xl-flex justify-content-xl-center align-items-xl-center" style="height: 357px;margin-top: 66px;" method="post">
                        <% if(error){%>
                        <h1><%= error %></h1>
                        <%}%>
                        <div style="width: 100%;">
                            <input class="border rounded-0 border-dark form-control" type="text" style="font-size: 29px;color: rgb(0,0,0);padding: 6px 12px;margin-bottom: 23px;margin-top: 10px;border-width: 22px;border-style: solid;background: rgba(255,255,255,0);width: 100%;" placeholder="First Name" name="firstname" autocomplete="off" required="">
                            <input class="border rounded-0 border-dark form-control" type="text" style="font-size: 29px;color: rgb(0,0,0);padding: 6px 12px;margin-bottom: 23px;margin-top: 10px;border-width: 22px;border-style: solid;background: rgba(255,255,255,0);width: 100%;" placeholder="Last Name" name="lastname" autocomplete="off" required="">
                            <input class="border rounded-0 border-dark form-control" type="text" style="font-size: 29px;color: rgb(0,0,0);padding: 6px 12px;margin-bottom: 23px;margin-top: 10px;border-width: 22px;border-style: solid;background: rgba(255,255,255,0);width: 100%;" placeholder="Phone Number" name="number" autocomplete="off" required="">
                            <input class="border rounded-0 border-dark form-control" type="text" style="font-size: 29px;color: rgb(0,0,0);padding: 6px 12px;margin-bottom: 23px;margin-top: 10px;border-width: 22px;border-style: solid;background: rgba(255,255,255,0);width: 100%;" placeholder="E-mail" name="email" autocomplete="off" required="">
                            <div class="dropdown" style="text-align: center;"><button class="btn btn-light dropdown-toggle text-capitalize border rounded-0" aria-expanded="false" data-bs-toggle="dropdown" type="button" style="margin-bottom: 14px;color: rgb(86,85,85);background: rgba(248,249,250,0);width: 100%;text-align: left;">Select Vehicle&nbsp;</button>
                                <div class="dropdown-menu"><a class="dropdown-item" href="#">2 wheeler</a><a class="dropdown-item" href="#">4 wheeler</a></div>
                            </div>
                            <input class="border rounded-0 border-dark form-control" type="password" style="font-size: 29px;color: rgb(0,0,0);padding: 6px 12px;margin-bottom: 23px;margin-top: 10px;background: rgba(255,255,255,0);width: 100%;border-style: solid;" placeholder="Confirm-Password" name="confirmpassword" required="" autocomplete="off">
                            <input class="border rounded-0 border-dark form-control" type="password" style="font-size: 29px;color: rgb(0,0,0);padding: 6px 12px;margin-bottom: 23px;margin-top: 10px;background: rgba(255,255,255,0);width: 100%;border-style: solid;" placeholder="Password" name="password" autocomplete="off" required="">
                            <div class="d-xl-flex justify-content-xl-center align-items-xxl-center"><button class="btn btn-dark border rounded-0" type="submit" style="width: 100%;margin-top: 9px;">Signup</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
 </body>

