<body id="page-top">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="border-color: rgb(255,255,255);">
                 <div class="card shadow border-start-primary py-2" style="margin-left: 17px;margin-right: 17px;margin-bottom: 17px;">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters" style="color: rgb(0,0,0);">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-weight: bold;font-family: Poppins, sans-serif;">sPEED LIMIT REACHED&nbsp;</span><span style="color: rgb(10,10,10);">&nbsp;Apr 12 2022</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 17px;">Vehicle ABC&nbsp;</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: 9px;"><span style="font-size: 17px;"><a class="btn btn-light btn-sm btn-icon-split" role="button" style="background: #e71508;"><span class="text-white-50 icon"><i class="fas fa-chevron-right"></i></span><span class="text-white text">Action</span></a></span></div>
                            </div>
                            <div class="col-auto" style="color: rgb(0,0,0);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="fa-2x text-gray-300" style="color: rgb(0,0,0);">
                                    <path d="M13 9L16 12M16 12L13 15M16 12L8 12M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                    </div>
                </div><!-- End: Card Primary -->
                <!-- Start: Card Primary -->
                <div class="card shadow border-start-primary py-2" style="margin-left: 17px;margin-right: 17px;margin-bottom: 17px;">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters" style="color: rgb(0,0,0);">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-weight: bold;font-family: Poppins, sans-serif;">Sign up&nbsp;</span><span style="color: rgb(10,10,10);">&nbsp;Apr 12 2022</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 17px;">user&nbsp; someone chaudary just signed up</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: 9px;"><span style="font-size: 17px;"><a class="btn btn-light btn-sm btn-icon-split" role="button" style="background: #468e51;"><span class="text-white-50 icon"><i class="fas fa-flag"></i></span><span class="text-white text">View User</span></a></span></div>
                            </div>
                            <div class="col-auto" style="color: rgb(0,0,0);"><i class="fas fa-user-plus fa-2x text-gray-300" style="color: rgb(0,0,0);"></i></div>
                        </div>
                    </div>
                </div><!-- End: Card Primary -->
                <!-- Start: Card Primary -->
                <div class="card shadow border-start-primary py-2" style="margin-left: 17px;margin-right: 17px;margin-bottom: 17px;">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters" style="color: rgb(0,0,0);">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-weight: bold;font-family: Poppins, sans-serif;">APPLICATION FOR SYSTEM INSTALLATION&nbsp;</span><span style="color: rgb(10,10,10);">&nbsp;Apr 12 2022</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 17px;">user&nbsp; someone chaudary just signed up</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: 9px;"><span style="font-size: 17px;"><a class="btn btn-sm btn-icon-split" role="button" style="background: #468e51;"><span class="text-white-50 icon"><i class="fas fa-flag"></i></span><span class="text-white text">See Application</span></a></span></div>
                            </div>
                            <div class="col-auto" style="color: rgb(0,0,0);"><i class="fas fa-external-link-square-alt fa-2x text-gray-300" style="color: rgb(0,0,0);"></i></div>
                        </div>
                    </div>
                </div><!-- End: Card Primary -->
            </div>
        </div>
      </body>

