<body id="page-top">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="border-color: rgb(255,255,255);">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top" style="height: 65px;">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button" style="color: rgb(0,0,0);"><i class="fas fa-bars"></i></button>
                        <ul class="navbar-nav flex-nowrap ms-auto">
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgb(0,0,0);"><span class="badge bg-danger badge-counter">3+</span><i class="fas fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end border rounded-0 dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header border rounded-0" style="background: rgb(0,0,0);">Notification</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-user-plus text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">Apr 12 2022</span>
                                                <p>New user Signed up</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="me-3">
                                                <div class="bg-primary icon-circle"><i class="fas fa-file-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 12, 2019</span>
                                                <p>ABC just applied for arduino</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Notification</a>
                                    </div>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#" style="color: rgb(0,0,0);"><span class="badge bg-danger badge-counter">7</span><i class="fas fa-envelope fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end border rounded-0 dropdown-list animated--grow-in">
                                        <h6 class="dropdown-header" style="background: rgb(0,0,0);">Messages</h6><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar4.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Hi there! I am wondering if you can help me with a problem I've been having.</span></div>
                                                <p class="small text-gray-500 mb-0">Emily Fowler - 58m</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar2.jpeg">
                                                <div class="status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>I have the photos that you ordered last month!</span></div>
                                                <p class="small text-gray-500 mb-0">Jae Chun - 1d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar3.jpeg">
                                                <div class="bg-warning status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Last month's report looks great, I am very happy with the progress so far, keep up the good work!</span></div>
                                                <p class="small text-gray-500 mb-0">Morgan Alvarez - 2d</p>
                                            </div>
                                        </a><a class="dropdown-item d-flex align-items-center" href="#">
                                            <div class="dropdown-list-image me-3"><img class="rounded-circle" src="assets/img/avatars/avatar5.jpeg">
                                                <div class="bg-success status-indicator"></div>
                                            </div>
                                            <div class="fw-bold">
                                                <div class="text-truncate"><span>Am I a good boy? The reason I ask is because someone told me that people say this to all dogs, even if they aren't good...</span></div>
                                                <p class="small text-gray-500 mb-0">Chicken the Dog · 2w</p>
                                            </div>
                                        </a><a class="dropdown-item text-center small text-gray-500" href="#">Show All Message</a>
                                    </div>
                                </div>
                                <div class="shadow dropdown-list dropdown-menu dropdown-menu-end" aria-labelledby="alertsDropdown"></div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#"><span class="d-none d-lg-inline me-2 text-gray-600 small">Siwan Chaudhary</span><img class="border rounded-circle img-profile" src="assets/img/avatars/avatar1.jpeg"></a>
                                    <div class="dropdown-menu border rounded-0 shadow dropdown-menu-end animated--grow-in"><a class="dropdown-item" href="#" style="color: rgb(0,0,0);--bs-primary: #000000;--bs-primary-rgb: 0,0,0;--bs-secondary: #2c2d36;--bs-secondary-rgb: 44,45,54;"><i class="fas fa-user fa-sm fa-fw me-2 text-gray-400" style="color: rgb(0,0,0);"></i>&nbsp;Profile</a><a class="dropdown-item" href="#"><i class="fas fa-list fa-sm fa-fw me-2 text-gray-400"></i>&nbsp;Activity log</a><a class="dropdown-item" href="#" style="color: rgb(0,0,0);--bs-primary: #000000;--bs-primary-rgb: 0,0,0;--bs-secondary: #2c2d36;--bs-secondary-rgb: 44,45,54;"><i class="fas fa-chevron-left fa-sm fa-fw me-2 text-gray-400" style="color: rgb(0,0,0);"></i>&nbsp;Logout</a></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav><!-- Start: Card Primary -->
                <div class="card shadow border-start-primary py-2" style="margin-left: 17px;margin-right: 17px;margin-bottom: 17px;">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters" style="color: rgb(0,0,0);">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-weight: bold;font-family: Poppins, sans-serif;">sPEED LIMIT REACHED&nbsp;</span><span style="color: rgb(10,10,10);">&nbsp;Apr 12 2022</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 17px;">Vehicle ABC&nbsp;</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: 9px;"><span style="font-size: 17px;"><a class="btn btn-light btn-sm btn-icon-split" role="button" style="background: #e71508;"><span class="text-white-50 icon"><i class="fas fa-chevron-right"></i></span><span class="text-white text">Action</span></a></span></div>
                            </div>
                            <div class="col-auto" style="color: rgb(0,0,0);"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="fa-2x text-gray-300" style="color: rgb(0,0,0);">
                                    <path d="M13 9L16 12M16 12L13 15M16 12L8 12M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg></div>
                        </div>
                    </div>
                </div><!-- End: Card Primary -->
                <!-- Start: Card Primary -->
                <div class="card shadow border-start-primary py-2" style="margin-left: 17px;margin-right: 17px;margin-bottom: 17px;">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters" style="color: rgb(0,0,0);">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-weight: bold;font-family: Poppins, sans-serif;">Sign up&nbsp;</span><span style="color: rgb(10,10,10);">&nbsp;Apr 12 2022</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 17px;">user&nbsp; someone chaudary just signed up</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: 9px;"><span style="font-size: 17px;"><a class="btn btn-light btn-sm btn-icon-split" role="button" style="background: #468e51;"><span class="text-white-50 icon"><i class="fas fa-flag"></i></span><span class="text-white text">View User</span></a></span></div>
                            </div>
                            <div class="col-auto" style="color: rgb(0,0,0);"><i class="fas fa-user-plus fa-2x text-gray-300" style="color: rgb(0,0,0);"></i></div>
                        </div>
                    </div>
                </div><!-- End: Card Primary -->
                <!-- Start: Card Primary -->
                <div class="card shadow border-start-primary py-2" style="margin-left: 17px;margin-right: 17px;margin-bottom: 17px;">
                    <div class="card-body">
                        <div class="row align-items-center no-gutters" style="color: rgb(0,0,0);">
                            <div class="col me-2">
                                <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span style="font-weight: bold;font-family: Poppins, sans-serif;">APPLICATION FOR SYSTEM INSTALLATION&nbsp;</span><span style="color: rgb(10,10,10);">&nbsp;Apr 12 2022</span></div>
                                <div class="text-dark fw-bold h5 mb-0"><span style="font-size: 17px;">user&nbsp; someone chaudary just signed up</span></div>
                                <div class="text-dark fw-bold h5 mb-0" style="margin-top: 9px;"><span style="font-size: 17px;"><a class="btn btn-sm btn-icon-split" role="button" style="background: #468e51;"><span class="text-white-50 icon"><i class="fas fa-flag"></i></span><span class="text-white text">See Application</span></a></span></div>
                            </div>
                            <div class="col-auto" style="color: rgb(0,0,0);"><i class="fas fa-external-link-square-alt fa-2x text-gray-300" style="color: rgb(0,0,0);"></i></div>
                        </div>
                    </div>
                </div><!-- End: Card Primary -->
            </div>
        </div>
      </body>

