<body id="page-top">
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" style="border-color: rgb(255, 255, 255)">
               
                
                <div class="container-fluid">
                    <h3 class="text-dark d-xl-flex justify-content-xl-center mb-4">
                        Application Installation Form
                    </h3>
                    <div class="row">
                        <div class="col d-xl-flex justify-content-xl-center">
                            <form class="flex-row" style="width: 50%">
                                <div class="flex-column align-items-center" style="padding: 8px; width: 100%">
                                    <div style="margin-bottom: 16px">
                                        <label class="form-label" style="
                        margin-bottom: 0px;
                        font-size: 9px;
                        color: rgb(0, 0, 0);
                      ">First name</label><input class="border rounded-0 form-control" type="text" name="firstname"
                                            placeholder="First name" />
                                    </div>
                                    <div style="margin-bottom: 16px">
                                        <label class="form-label" style="
                        margin-bottom: 0px;
                        font-size: 9px;
                        color: rgb(0, 0, 0);
                      ">Last name</label><input class="border rounded-0 form-control" type="text" name="lastname"
                                            placeholder="Lastname" />
                                    </div>
                                    <div style="margin-bottom: 16px">
                                        <label class="form-label" style="
                        margin-bottom: 0px;
                        font-size: 9px;
                        color: rgb(0, 0, 0);
                      ">Vehicle Number</label><input class="border rounded-0 form-control" type="text"
                                            name="vehiclenumber" placeholder="vehiclenumber" />
                                    </div>
                                    <div style="margin-bottom: 16px">
                                        <label class="form-label" style="
                        margin-bottom: 0px;
                        font-size: 9px;
                        color: rgb(0, 0, 0);
                      ">First name</label><input class="border rounded-0 form-control" type="text" name="firstname"
                                            placeholder="First name" />
                                    </div>
                                    <div style="margin-bottom: 16px">
                                        <label class="form-label" style="
                        margin-bottom: 0px;
                        font-size: 9px;
                        color: rgb(0, 0, 0);
                      ">First name</label><input class="border rounded-0 form-control" type="text" name="firstname"
                                            placeholder="First name" />
                                    </div>
                                    <div style="margin-bottom: 16px">
                                        <label class="form-label" style="
                        margin-bottom: 5px;
                        font-size: 9px;
                        color: rgb(0, 0, 0);
                      ">Type of vehicle</label><select class="border rounded-0 form-select">
                                            <optgroup label="Vehicle">
                                                <option value="10">4 wheeler</option>
                                                <option value="12" selected="">2 Wheeler</option>
                                            </optgroup>
                                        </select>
                                    </div>
                                </div>
                                <button class="btn btn-light btn-sm border rounded-0" type="button" style="width: 100%">
                                    Submit
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>