<body id="page-top">
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content" style="border-color: rgb(255, 255, 255)">


            <div class="container-fluid">
                <h3 class="text-dark d-xl-flex justify-content-xl-center mb-4">
                    Application Installation Form
                   
                </h3>
                <h6 class="text-danger d-xl-flex justify-content-xl-center mb-2">* Please use data from your citizenship</h6>
                <div class="row">
                    
                    
                    
                    
                    <div class="col d-xl-flex justify-content-xl-center">
                        <form action="<%=`/package/apply/${user['_id']}`%>" method="post" class="flex-row" style="width: 50%">
                            <div class="flex-column align-items-center" style="padding: 8px; width: 100%">
                                <div style="margin-bottom: 16px">
                                        <input class="border rounded-0 form-control" type="text" name="first_name"
                                                 placeholder="First Name" required />
                                </div>


                                <div style="margin-bottom: 16px">
                                   <input class="border rounded-0 form-control" type="text" name="last_name"
                                        placeholder="Last Name" required/>
                                </div>


                                <div style="margin-bottom: 16px">
                                   <input class="border rounded-0 form-control" type="text"
                                        name="vehicle_number" placeholder="Vehicle Number"  required/>
                                </div>

                               <div style="margin-bottom: 16px">
                                <select class="border rounded-0 form-select" name="vehicle_type" required>
                                      
                                            <option value="2">2 wheeler</option>
                                            <option  value="4">4 Wheeler</option>
                                   
                                    </select>
                                </div>
                            </div>
                            <button class="btn btn-light btn-sm border rounded-0" type="submit" style="width: 100%">
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>